fastapi==0.111.0
uvicorn[standard]==0.23.2
pandas==2.1.0
numpy==1.27.0
python-dotenv==1.0.0
pymongo[srv]==4.5.1
pydantic==2.6.0
sentence-transformers==2.2.2
faiss-cpu==1.7.4
langchain==0.2.187
langchain-community==0.2.4
langchain-google-genai==0.1.3
