fastapi
uvicorn
langchain==0.2.4
langchain-core==0.2.4
langchain-community==0.2.4
langchain-google-genai==0.1.3
langchain-huggingface
google-generativeai
sentence-transformers
faiss-cpu
pandas
numpy
fuzzywuzzy
python-levenshtein
scikit-learn
scipy
python-dotenv
pymongo
python-multipart
