fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-google-genai
google-generativeai
sentence-transformers
faiss-cpu
pandas
numpy
fuzzywuzzy
python-levenshtein
python-dotenv
pymongo


